#bodyp2 {
  padding: 1vh 50vh 30vh 50vh;
  align-items: center;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 3vh;
}

table {
  background-color: #efe;
  border-collapse: collapse;
  border: 1px solid;
  padding: 3vh 5vh 3vh 5vh;
  margin: 4vh 0vh 5vh 4vh;
  text-align: center;
}

td {
  padding: 2vh 3vh 2vh 3vh;
}

th {
  padding: 2vh 3vh 2vh 3vh;
}
a {
  border-radius: 20vh;
}

.editar {
  background-color: #daa520;
}

.deletar {
  background-color: #dc143c;
}
